<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="google-site-verification"
             content="4HAVCdoxXjx6F1gDZtovZwCbhuNM7j4c6EJaLfmrUs4" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300|Droid+Serif|Merriweather|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/images/favicon-16x16.png" sizes="16x16" />

</head>
